.background {
	background-color:#323F51; 
	overflow: hidden;
}
.sidebar {
	margin:0px; 
	width:400px; 
	transform-origin:0 0;
	z-index: 2000;
}
.name-div {
	width:100%; 
	position:absolute; 
	top:0;
}
.name {
	padding:15px; 
	padding-top: 5px; 
	padding-bottom:0px; 
	font-family: 'Roboto Condensed'; 
	font-weight: bolder; 
	font-size: 32px;
}
.title {
	padding:15px; 
	padding-top:5px; 
	font-family: 'Roboto Condensed'; 
	font-size: 17px; 
	color: #777;
}
.roboto {
	font-family: 'Roboto'; 
}
.navbar-div {
	position:absolute; 
	transform-origin: top right;
	top:0; 
	right:0;
	z-index:1;
}
.margin-content-bar {
	position:absolute; 
	top:0; 
	left:0; 
	width:300px;
}
.nav-link {
	color: #FFF;
	font-family: 'Roboto Condensed';
	font-weight: bold;
}
li.active {
	border-bottom: 2px solid white;
}
.content-body {
	margin:0px;
	width: 70%;
	height:1000px;
	transform-origin:top right;
	position:absolute; 
	right:0;
	bottom:0;
}
.main-content {
	margin: 0px auto;
	padding-bottom:5%;
	transform-origin: bottom center;
	position: absolute;
}
.bottom {
	bottom: 0;
}
.carousel-resize-image {
	width:75%; 
	margin-left:13%;
	box-shadow: 5px 5px 10px #242D3A;
	margin-bottom:10px;
	margin-top:10px;
}
.btn.btn-square { 
	border-radius: 0; 
}
.underlay {
	z-index: -1;
}
.overlay {
	z-index: 1;
	width:100%;
}
.header {
	font-size:15pt;
	padding:20px;
	color:white;
}
.bspText {
	color:white !important;
	background: none !important;
}
.bspImgWrapper {
	box-shadow: 5px 5px 10px #242D3A;
}
td {
	color:#CCCCCC;
	text-align: left; 
	padding: 5px 30px;
}
td:first-child { 
	text-align: right;
	font-weight: bold;
	vertical-align: text-top;	
}
.link {
    color:#67A1C1;
}

/* scrollbars */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #555; 
}