.background {
	background-color:#323F51; 
	overflow: hidden; 
}
.body {
	margin:0px; 
	width:1300px; 
	transform-origin:0 0;
	z-index: -1;
}
.name-div {
	width:100%; 
	position:absolute; 
	top:0;
}
.name {
	padding:15px; 
	padding-top: 5px; 
	padding-bottom:0px; 
	font-family: 'Roboto Condensed'; 
	font-weight: bolder; 
	font-size: 32px;
}
.title {
	padding:15px; 
	padding-top:5px; 
	font-family: 'Roboto Condensed'; 
	font-size: 17px; 
	color: #777;
}
.roboto {
	font-family: 'Roboto'; 
}
.navbar-div {
	position:absolute; 
	transform-origin: top right;
	top:0; 
	right:0;
	z-index:1;
}
.margin-content-bar {
	position:absolute; 
	top:0; 
	left:0; 
	width:320px; 
}
.nav-link {
	color: #FFF;
	font-family: 'Roboto Condensed';
	font-weight: bold;
}
li.active {
	border-bottom: 2px solid white;
}
.main-content {
	position:absolute; 
	top:0; 
	right:0; 
	width:80%; 
}
.underlay {
	z-index:-1; 
}

.carousel-resize-image {
	width:75%; 
	margin-left:13%;
	box-shadow: 5px 5px 10px #242D3A;
	margin-bottom:10px;
	margin-top:10px;
}


@media screen and (max-width: 991px) {
	iframe.expand-div {
		margin-left: 120px;
	}
}
@media screen and (min-width: 991px) {
	iframe.expand-div {
		margin-left: 200px;
	}
	div.expand-div {
		margin-right: -40px;
	}
}